spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://db.club012.com:3306/vibe_db?allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useSSL=false
    username: vibe_user
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
